<!DOCTYPE html>
<html lang="en" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="_layout">
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<body>
    <div layout:fragment="content1">
        <!--  GRID OF CARDS  -->

        <div class="row">
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body" style="background-color: #66f7cb">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><h3><b>Vehicles</b></h3></h5>
                                <p class="card-text" style="color: black">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="/countries" class="btn btn-primary">Manage Vehicles</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body" style="background-color: #66f7cb">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><h3><b>Vehicle Hires</b></h3></h5>
                                <p class="card-text" style="color: black">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="/countries" class="btn btn-primary">View Hires</a>
                            </div>
                        </div>
                    </div>

                </section>
            </div>
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body" style="background-color: #66f7cb">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><h3><b>Vehicles Movements</b></h3></h5>
                                <p class="card-text" style="color: black">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="/countries" class="btn btn-primary">Manage Movements</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body" style="background-color: #66f7cb">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><h3><b>Vehicle Status</b></h3></h5>
                                <p class="card-text" style="color: black">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="/countries" class="btn btn-primary">Manage Vehicle Status</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body" style="background-color: #66f7cb">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><h3><b>Vehicle Maintenance</b></h3></h5>
                                <p class="card-text" style="color: black">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="/countries" class="btn btn-primary">Maintenance Records</a>
                            </div>
                        </div>
                    </div>

                </section>
            </div>
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body" style="background-color: #66f7cb">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><h3><b>Vehicle Types</b></h3></h5>
                                <p class="card-text" style="color: black">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="/countries" class="btn btn-primary">Manage Vehicle Types</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body" style="background-color: #66f7cb">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><h3><b>Vehicle Makes</b></h3></h5>
                                <p class="card-text" style="color: black">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="/countries" class="btn btn-primary">Manage Vehicle Makes</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body" style="background-color: #66f7cb">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><h3><b>Vehicle Models</b></h3></h5>
                                <p class="card-text" style="color: black">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="/countries" class="btn btn-primary">Manage Vehicle Models</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>
</html>
