<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="_layout">
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<body>
<!--  GRID OF CARDS  -->
    <div layout:fragment="content1">
 
      <!--  FIRST ROW SECTION  -->

        <div class="row">
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body" style="background-color: #66f7cb">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><h3><b>Countries</b></h3></h5>
                                <p class="card-text" style="color: black">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="/countries" class="btn btn-primary">Manage Countries</a>
                            </div>
                        </div>  
                    </div>
                </section>
            </div>
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body" style="background-color: #66f7cb">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><h3><b>States</b></h3></h5>
                                <p class="card-text" style="color: black">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="/countries" class="btn btn-primary">Manage States</a>
                            </div>
                        </div>
                    </div>

                </section>
            </div>
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body" style="background-color: #66f7cb">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><h3><b>Contacts</b></h3></h5>
                                <p class="card-text" style="color: black">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="/countries" class="btn btn-primary">Manage Contacts</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        
        <!-- SECOND ROW SECTION -->
        <div class="row">
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body" style="background-color: #66f7cb">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><h3><b>Suppliers</b></h3></h5>
                                <p class="card-text" style="color: black">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="/countries" class="btn btn-primary">Manage Suppliers</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body" style="background-color: #66f7cb">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><h3><b>Locations</b></h3></h5>
                                <p class="card-text" style="color: black">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="/countries" class="btn btn-primary">Manage Locations</a>
                            </div>
                        </div>
                    </div>

                </section>
            </div>
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body" style="background-color: #66f7cb">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><h3><b>Modules</b></h3></h5>
                                <p class="card-text" style="color: black">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="/countries" class="btn btn-primary">Manage Modules</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <!-- THIRD ROW SECTION -->
        <div class="row">
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body" style="background-color: #66f7cb">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><h3><b>Clients</b></h3></h5>
                                <p class="card-text" style="color: black">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="/countries" class="btn btn-primary">Manage Clients</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
        
    
</body>
</html>
